{% extends 'patient/sidebar.html' %}
{% load widget_tweaks %}
{% load static %}
{% block b %}
<h2 style="font-family:roman; color:#fff; background:#3fa1a9 ; background-image: url({% static 'user/img/about.png' %});" align="center" class="card">View Help Record</h2>

<div class="page-wrapper" >
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					{% for i in messages %}
					<p style="color:red">{{i}}</p>
					{% endfor %}
					<h3 class="page-title">List of data</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
						<li class="breadcrumb-item"><a href="javascript:(0);">Need-help</a></li>

					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<div class="row" style="box-shadow: 25px 20px 25px 0px  #3fa1a9; border-radius: 20px;">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="datatable table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>#</th>
										<th>Hsopital Name</th>
										<th>Bed Number</th>
										<th>Date</th>
										<th>Description</th>
										<th>Status</th>
										<th>Assign Doctor/Nurse</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									{% for i in help %}
									<tr>
										<td> {{forloop.counter}}<br><small></small></td>
										<td>
											{{i.hospital.name}}
										</td>
										<td>{{i.bed_number}}</td>
										<td>{{i.created}}</td>

										<td> {{i.description}}<br><small></small></td>
										<td> {{i.status}}</td>

										<td>{% if not i.helper_doctor %}Processing....{% endif %}{{i.helper_doctor.user.first_name}} {{i.helper_doctor.user.last_name}}
										</td>

										<td>
											<a href="{% url 'delete_need_help' i.id %}"
												onclick="return confirm('Are you sure?') "
												class="btn bg-danger trash"><i class="fa fa-trash"></i></a>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="{% static 'admin/js/jquery-3.2.1.min.js' %}"></script>

<!-- Bootstrap Core JS -->

<!-- Slimscroll JS -->
<script src="{% static 'admin/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- Datatables JS -->
<script src="{% static 'admin/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables/datatables.min.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'admin/js/script.js' %}"></script>


{% endblock %}